body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#top-bar {
	width: 100%;
	height: auto;
	background-color: #EEE;
	border-bottom: 1px solid black;
	float: left;
}

#top-bar h1 {
	float: left;
	margin: 0;
	font-size: 25px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	text-shadow: 1px 1px 1px #AAA;
}

#menu-bar {
	display: block;
	background-color: #FFF;
	list-style: none;
	border-radius: 4px;
	float: left;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40%;
}

.menu-item {
	float: left;
	padding: 3px;
	margin: 2px 3px 2px 3px;
	border-right: 1px solid black;
	box-shadow: 0px 0px 20px #BBB;
	border-radius: 10%;
}

.menu-item:hover {
	background-color: #AAA;
	cursor: pointer;
	transition-duration: 1s;
}

button {
	background-color: rgba(0,0,0,0);
	border: none;
	font-weight: bold;
	font-family: monospace;
	border-radius: 4px;
	width: 50px;
}

button:hover {
	cursor: pointer;
}

#menu-bar {
	border: 1px dotted black;
}

#run-button {
	border-radius: 0;
	width: 4em;
	height: 2em;
	border: 1px solid gray;
	float: right;
	margin: 10px 10px 10px 0;
}

#run-button:hover {
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	transition-duration: 0.5s;
}

#main-container {
	width: 100%;
	height: auto;
}

#html-container {
	background-color: blue;
}

#css-container {
	background-color: red;
}

#js-container {
	background-color: green;
}

#result-container {
	background-color: grey;
}

.code-container {
	float: left;
	padding: 0;
	margin: 0;
}

.pool-line {
	opacity: 0.3;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.clear {
	clear: both;
}

textarea {
	width: 100%;
	height: 100%;
	border: none;	
}