body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#top-bar {
	width: 100%;
	height: auto;
	background-color: #EEE;
	border: 1px solid black;
	float: left;
}

#top-bar h1 {
	float: left;
	margin: 0;
	font-size: 25px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	text-shadow: 1px 1px 1px #AAA;
}

#menu-bar {
	display: block;
	background-color: #FFF;
	list-style: none;
	border-radius: 4px;
	float: left;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 34%;
	border: 1px dotted black;
}
.menu-item {
	float: left;
	padding: 3px;
	margin: 2px 3px 2px 3px;
	border-right: 1px solid black;
	box-shadow: 0px 0px 20px #BBB;
	border-radius: 10%;
}

.menu-item:hover {
	cursor: pointer;
}

.selected {
	background-color: gray;
}

#CSS-container, #JS-container {
	display: none;
}

button {
	background-color: rgba(0,0,0,0);
	border: none;
	font-weight: bold;
	font-family: monospace;
	border-radius: 4px;
	width: 50px;
}

button:hover {
	cursor: pointer;
}

#run-button {
	border-radius: 0;
	width: 4em;
	height: 2em;
	border: 1px solid gray;
	float: right;
	margin: 10px 10px 10px 0;
}

#run-button:hover {
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	transition-duration: 0.5s;
}

.clear {
	clear: both;
}

#main-container {
	background-color: blue;
	border: 1px solid red;
}

.code-container {
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
	border: 1px solid black;
	box-sizing: border-box;
	background-color: white;
}

.containerTitle {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
	border: 1px solid black;
}

textarea {
	background-color: #DDD;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid green;
	resize: none;
	padding: 0;
}

iframe {
	background-color: #DDD;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
	border: 1px solid blue;
	padding: 5px;
}
